html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #00310a, #003739, #333);
    color: #a5c2c7;
}

body > .container {
    padding: 20px 0;
}

input[type="text"]{
    background: black;
    color: #98d7a4;
    border: 1px solid #28a745;
    border-radius: 0;
}

button{
    border-radius: 0!important;
}

input[type="text"]:focus{
    background: black;
    color: #98d7a4;
}

code {
    font-size: 80%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#channels > button {
    margin: 10px;
}

@media screen and (min-width: 768px) {
    #player {
        height: 600px;
        width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    #player {
        height: 360px;
        width: 100%;
    }
}


#player-container{
    position: relative;
}

#addApiKey{
    cursor: pointer;
    color: #89c0ff;
}

#ApiKeyForm{
    display: none;
}

#player{
     z-index: 0;
}

#skip-video{
    position: absolute;
    bottom: 50%;
    right: 0;
    z-index: 999999999;
    display: none;
}